.git
.gitignore
.gitattributes
.idea
.vscode
.editorconfig
.env
.env.*
!.env.example

node_modules
public/hot
public/storage
public/build
public/mix-manifest.json

vendor

storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
!storage/**/.gitignore

bootstrap/cache/*.php

tests
phpunit.xml

docker-compose.yml
Dockerfile
.dockerignore

*.log
*.sql
*.sqlite

README.md
docs
